html {
    width: 100%;
    height: 100%;
    overflow-x:hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.menu_item {
	display: inline-block;
}

.menu {
	text-align: justify;
}

ul {
	padding: 0;
	margin: 0;
	list-style:none;
	position: relative;
	left:50%;
	float:left;
	height:50px
}

ul li {
	list-style: none;
	position:relative;
	left:-50%;
	float:left;
	margin:0 10px;
	height:50px
}
 
.menu_link  {
	color: #fff;
	display:block;
	text-decoration: none;
	padding:0 15px;
	line-height: 40px;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.header {
	background-image: url(bg1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	
}

.container {
	width: 1170px;
	height: 100px;
	margin: 0 auto;
}

.header_logo {
	width: 40%;
	float: left;
}


.header_menu {
	width: 60%;
	float: left;
	position: relative;
	overflow:hidden;
	height:40px;
	margin:30px 0;
	font-size: 23px
}

.logo {
	display: inline-block;
}

.logo_pic {
	display: block;
	max-height: 100px;
	max-width: 200;
}

.masthead {
	width: 1170px;
	height: 650px;
	margin: 0 auto;
}

.h2 {
	text-align: center;
	font-size: 60px;
	padding-left: 200px;
	padding-top: 120px;
	padding-right: 200px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 100%;
	height:280px;
	position: relative;
	overflow:hidden;
}

.h3 {
	text-align: center;
	font-size: 26px;
	padding-left: 170px;
	padding-top: 20px;
	padding-right: 170px;
	padding-bottom: 90px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-botom: 10px;
	width: 100%;	
	position: relative;
	overflow:hidden;
	height:55px;

}

.form_button {
	text-align: center;
}

.but_find {
    background-color: #e84545;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.feature {
	background: white;
	width: 1170px;
	height: 694px;
	margin: 0 auto;
}	

.str1 {
	display: table;
	width: 100%;
}

.coll_1 {
	text-align: center;
	display: table-cell;
	padding: 60px;
}

.work {
	background: white;
	width: 1900px;
	height: 700px;
	margin: 0 auto;
	font-size: 0px;
}

.coll_2 {
	text-align: center;
	display: table-cell;
	padding: 0px;
}

.empty {
	height: 345px;
}

.footer {
	height: 345px;
    margin-top: -345px;
    position: relative;
}

.footer_lvl_1 {
    height: 250px;
    background-color: #3a3e64; 
}

.footeer_li_lvl_1	{
	text-align: center;
	width: 400px;
	padding: 70px;
	padding-top: 30px;
}

.foot_title {
	font-size: 30px;
	color: #b5b6c1;
}

.foot_text {
	color: white;
}

.foot_social {
	display: inline-block;
	color: white;
	font-size: 30px;

}


.footer_lvl_2 { 
    height: 95px;
    background-color: #313454;
    text-align: center;
    color: silver;
    padding: 39px;
}

.foot_lvl_2_text {
	width: 500px;
	
}
